
.corpsContainer { 
    display: flex;
    flex-flow: row wrap;
}

.corpsList {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.corporation {
    background-color: rgb(224, 218, 218);
    padding: .5em;
    margin: .5em;
    border-radius: 1em;
    width: 400px
}



