@import "./corps.css";
@import "./pacs.css";
@import "./politicians.css";

.main {
    display: flex;
    flex-flow: row wrap;
}

.header {
    font-size: 2em;
    color:darkblue;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}

.pageTitle {
    margin: .2em
}

.hidden {
    display: none;
}