.politiciansContainer {
    display: flex;
    flex-flow: row wrap;
}

.politiciansList {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.politician__name {
    margin: auto;
}

.politician {
    padding: .5em;
    margin: .5em;
    border-radius: 1em;
    width: 450px;
    height: 480px
}

.red {
    background-color: rgb(245, 188, 188);
}

.blue {
    background-color: #add8e6;
}